[tool.poetry]
name = "nonebot-plugin-rimofun"
version = "0.1.0"
description = "Use RimoChan's stuff to do some interesting things"
authors = ["student_2333 <lgc2333@126.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
nonebot2 = ">=2.0.0-rc.1"
nonebot-adapter-onebot = "^2.2.1"
pydantic = "^1.10.6"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
isort = "^5.12.0"
ruff = "^0.0.254"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.source]]
default = true
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"

[tool.ruff]
extend-exclude = []
ignore = ["E501", "E722", "TRY002", "RUF001", "RUF002", "RUF003", "RUF100"]
select = [
    "F",
    "E",
    "I",
    "N",
    "B",
    "A",
    "COM",
    "C4",
    "DTZ",
    "ISC",
    "PIE",
    "PYI",
    "Q",
    "RSE",
    "RET",
    "SLF",
    "SIM",
    "TID",
    "ARG",
    "PTH",
    "PGH",
    "TRY",
    "RUF",
]
